{% extends "generic/base.html" %}

{% block content %}
<h2>All Albums</h2>

<div>
    {% if album %}
    
    <img src="{{album.cover_image.image.url}}">
    <p>title: {{album.name}}</p>
    <p>description: {{album.description}}</p>
    <p>date_created: {{album.date_created}}</p>
    <p>date_modified: {{album.date_modified}}</p>
    <p>date_published: {{album.date_published}}</p>
    <p>published: {{album.published}}</p>

    {% else %}
    <p>¡Alas! We don't have that album yet, but you can fill the void!</p>
    <p>Create an account with the link below and let's see what you got ;)</p>
    <button><a href="{% url 'registration_register' %}">Create Your Account</a></button>
    {% endif %}
</div>

{% endblock content %}