{% extends "generic/base.html" %}

{% load thumbnail %} 
{% load static %} 
{% block content %} 
{% if user.is_authenticated%}

<h3>Library of {{ profile.user.username }}</h3>
<div class="add-buttons">
    <button>
        <a href="{% url 'album_create' %}">Add Album</a>
    </button>
    <button>
        <a href="{% url 'photo_create' %}">Add Photo</a>
    </button>
</div>

<h3>Albums</h3>
<div class="album-container">
    {% for album in albums %}
    {% thumbnail album.cover_image.image "300x200" as image %}
    <div class="image-grid">
        <a href="{% url 'album_edit' album_id=album.id %}">
            <img src="{{ image.url }}">
        </a>
        <div class="title-box">
            <p>{{album.name}}</p>
        </div>
    </div>
    {% endthumbnail %}
    {% endfor %}
</div>
<div class="clearfix">
</div>

<h3>Photos</h3>
<div class="photo-container">
    {% if photos %} 
    {% for photo in photos %} 
    {% thumbnail photo.image "300x200" as image %}
    <div class="image-grid">
        <a href="{% url 'photo_edit' photo_id=photo.id %}">
            <img src="{{image.url}}">
        </a>
        <div class="title-box">
            <p>{{photo.title}}</p>
        </div>
    </div>
    {% endthumbnail %}
    {% endfor %} 
    {% endif %}
</div>

{% endif %}
{% endblock content %}