{% extends "generic/base.html" %}

{% block content %}

<h2>All Photos</h2>

<div>
    {% if photo %}
    <img src="{{photo.image.url}}">
    <p>title: {{photo.title}}</p>
    <p>description: {{photo.description}}</p>
    <p>date_uploaded: {{photo.date_uploaded}}</p>
    <p>date_modified: {{photo.date_modified}}</p>
    <p>date_published: {{photo.date_published}}</p>
    <p>published: {{photo.published}}</p>

    {% else %}
    <p>¡Alas! We don't have that photo yet, but you can fill the void!</p>
    <p>Create an account with the link below and let's see what you got ;)</p>
    <button>
        <a href="{% url 'registration_register' %}">Create Your Account</a>
    </button>
    {% endif %}
</div>

{% endblock content %}