{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}

  <h3>Library of {{ profile.user.username }}</h3>
  
        {% if photos %}
        {% for photo in photos %}
        <img src="{{photo.image.url}}" class="library">
        {% endfor %}
        {% endif %}
    
  
        {% if album %}
        {% for item in album %}
            <h3>{{item.title}}</h3>
            <img class="library" src="{{item.cover.url}}">
        {% endfor %}
        {% endif %}

{% endif %}
{% endblock content %}